body{
    font-family: 'Poppins', sans-serif;
}
section{
    margin-top: 50px;
    margin-bottom: 100px;

}
h1{
    font-size: 40px; 
    
}
h1.line-height{
    line-height: 50%;
}
span{
    color: orange;
}
.flexible{
    display: flex;
}
.half-width{
width: 50%;
margin: auto;
padding-left: 100px;
}
.half-width img{
width: 80%;

}
.button{
    text-decoration: none;
    background-image: linear-gradient(tomato, orange);
    padding: 10px 20px;
    border-radius: 30px;
    color:white;
}
img.size{
    width: 50%;
}
.about-section{
    background-image: url(/images/Frame\ 58.jpg);
    background-repeat: no-repeat;
    
    background-size: cover;
}